---
import Hamburger from "../hamburger/Hamburger";
import Navigation from "../navigation/NavBar";
---

<header>
  <nav>
    <Hamburger client:idle />
    <Navigation />
  </nav>
</header>
