#root {
  --html-bg: #d8d8d8;
}

html {
  background-color: var(--html-bg);
  font-family: sans-serif;
}

body {
  background-color: var(--html-bg);

  margin: 0 auto;

  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  line-height: 2;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
