---
import Greeting from "../components/home/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Мой сайт на Astro">
  <h2>Мой потрясающий подзаголовок блога</h2>
</BaseLayout>
