---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/tags/TagList.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>

  <p><em>{frontmatter.description}</em></p>

  <slot />

  <TagList tags={frontmatter.tags} />
</BaseLayout>
